img {
  border-radius: 18px;
}

.holis{
  display: flex;
  justify-content: space-between;
  background-color: rgba(51, 189, 189, 0.3);
  color: rgb(4, 46, 47);
  font-family: "Lucida Console", Monaco, monospace;
  background: rgba(1, 198, 224, 0.4);
}

span {
  font-size: 22px;
  margin: 10px;
  display: flex !important;
  margin-left: 25px !important;

}
